.section-padding {
  padding: 100px 0;
}

#hero-area {
  background-image: none;
  min-height: 300px;
}

body {
  font-size: 16px;
}

p {
  font-size: 16px;
}

#components .box-item .text p {
  font-size: 16px;
}

.testimonial-item .img-thumb img {
  border-radius: 0px;
  height: 50px;
}

.testimonial-item {
  padding: 30px 30px;
}

.services-item .icon i {
  line-height: 60px !important;
}

/* ==========================================================================
  8. Features Section Style
   ========================================================================== */
   #components {
    background: #fff;
  }
  
  
  #components .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  #components .content-left span {
    float: right;
  }
  
  #components .content-left .text {
    text-align: right;
  }
  
  #components .content-right span {
    float: left;
  }
  
  #components .box-item {
    box-shadow: 0 0 12px #F4F4F4;
    padding: 15px;
    line-height: 22px;
    margin-top: 30px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -mox-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    top: 0;
  }
  
  #components .box-item .icon {
    text-align: center;
    margin: 12px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #components .box-item .icon i {
    color: #ff0095;
    font-size: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #components .box-item .text h4 {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #components .box-item .text p {
    font-size: 14px;
    line-height: 26px;
  }
  
  #components .box-item:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
  }
  
  #components .box-item:hover h4 {
    color: #ff0095;
  }
  
  #components .show-box {
    margin-top: 50px;
  }
  
  #components .show-box img {
    width: 100%;
  }
  